html, body {
    height: 100%;
}

body {
    font-family: "Roboto Light", sans-serif;
    background-color: #e5edf1;
    background-image: url('./../images/login_ui.svg');
    background-repeat: no-repeat;
    background-position: bottom;
}

.logo-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
